{% extends "uploader/base.html.j2" %}

{% block title %}uplord{% endblock %}

{% block maincontent %}
  <p>
    <a href="/uploader/dl/{{id}}">{{server_name}}/uploader/dl/{{id}}</a>
  </p>
{% endblock %}
