{% extends "uploader/base.html.j2" %}

{% block title %}uplord{% endblock %}

{% block maincontent %}
  <a href="/uploader/download/{{id}}">
    <input type="text" value="{{server_name}}/uploader/download/{{id}}" id="url" readonly>
  </a>
  <button onclick="urlCpoy()">copy</button>
{% endblock %}
