<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/sass/test.scss">
    <title></title>
  </head>
  <body>
    <p><a href="#">test</a></p>
    <a href="#">a</a>
  </body>
</html>
